Repository 7INXI/UNI: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix src/*, prettier --write

ts: 测试commit校验
  .commitlintrc
  .eslintrc
  .husky/commit-msg
  .lintstagedrc
Due: none

ts: 测试
  .eslintrc
  .lintstagedrc
Due: none

ts: 测试eslint
  .eslintrc
Due: none

ts: 测试eslint
  .eslintrc
  .husky/pre-commit
  .lintstagedrc
  src/shime-uni.d.ts
Due: npx prettier --write, npx eslint --fix src/*

ts: tiaozheng lint-staged
  .husky/pre-commit
Due: none

ts: 测试 lint-staged
  .lintstagedrc
Due: none

ts: 测试
  .lintstagedrc
  package.json
  yarn.lock
Due: none

ts: 测试
  .eslintrc
  src/App.vue
Due: npx prettier --write, npx eslint --fix src/*

ts: 测试
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: none

ts: 测试
  .husky/pre-commit
  .lintstagedrc
Due: none

feat: 工程化
  .commitlintrc
  .eslintignore
  .eslintrc
  .gitattributes
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .vscode/settings.json
  auto-imports.d.ts
  index.html
  package.json
  src/manifest.json
  src/pages.json
  src/pages/index/index.vue
  src/shime-uni.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix src/*, prettier --write

feat: 工程化
  .husky/pre-commit
Due: none

feat: 封装
  .eslintrc
  .eslintrc-auto-import.json
  README.md
  auto-imports.d.ts
  hooks/index.ts
  hooks/request.ts
  hooks/router.ts
  package.json
  src/App.vue
  src/main.ts
  src/pages.json
  src/pages/page1/index.vue
  src/pages/page2/index.vue
  src/store.ts
  vite.config.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix src/*, prettier --write

Path conditions:
  npx prettier --write: any of: src/*.{js,jsx,ts,tsx,vue}
  npx eslint --fix src/*: any of: src/*.{js,jsx,ts,tsx,vue}
  prettier --write: any of: src/*.{css,scss,less,json,md}
